.tagcloud {
    ul {
        @include clearfix;

        li {
            display: inline-block;
            border: none;
            padding: 0;
            margin-bottom: 3px !important;
            margin-right: 3px !important;
            float: left;
        }

        a {
            padding: .3rem .625rem;
            background-color: #333;
            color: #ccc;
            display: block;
            border-radius: .125rem;
            font-size: .75rem !important;
            font-weight: 500;
            text-transform:uppercase;

            &:hover {
                background: $color-theme-primary;
                color: #fff;
            }
        }
    }

    .blog-footer & {
        ul {
            a {
                background: $color-theme-primary;
                color: #fff;

                &:hover {
                    background: #fff;
                    color: $color-theme-primary;
                }
            }
        }
    }
}
