<?xml version="1.0" encoding="utf-8"?>
<settings>
  <showpostnavigation>True</showpostnavigation>
  <enablehttpcompression>True</enablehttpcompression>
  <emailsubjectprefix>Weblog</emailsubjectprefix>
  <htmlheader />
  <theme>jdp</theme>
  <facebooklanguage>en_US</facebooklanguage>
  <trackingscript>&lt;script type="text/javascript"&gt;

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9761823-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

&lt;/script&gt;</trackingscript>
  <showdescriptioninpostlist>False</showdescriptioninpostlist>
  <commentsperpage>20</commentsperpage>
  <feedauthor />
  <description>Hakim Hazik</description>
  <enablepingbacksend>False</enablepingbacksend>
  <postoptionscustomfields>False</postoptionscustomfields>
  <enabletagexport>True</enabletagexport>
  <iscocommentenabled>False</iscocommentenabled>
  <compresswebresource>True</compresswebresource>
  <endorsement />
  <themecookiename>theme</themecookiename>
  <remotefiledownloadtimeout>30000</remotefiledownloadtimeout>
  <trustauthenticatedusers>True</trustauthenticatedusers>
  <enablecountryincomments>True</enablecountryincomments>
  <contactformmessage>&lt;p&gt;I'll answer the mail as soon as I can.&lt;/p&gt;</contactformmessage>
  <searchbuttontext>Search</searchbuttontext>
  <showincludecommentsoption>False</showincludecommentsoption>
  <createblogonselfregistration>False</createblogonselfregistration>
  <enablewebsiteincomments>False</enablewebsiteincomments>
  <enablecontactattachments>True</enablecontactattachments>
  <blogrollmaxlength>23</blogrollmaxlength>
  <language>en-US</language>
  <smtpserver>smtp.umersami.com</smtpserver>
  <disqusdevmode>False</disqusdevmode>
  <customfrontpage />
  <postsperpage>20</postsperpage>
  <enabletrackbackreceive>False</enabletrackbackreceive>
  <enableopensearch>True</enableopensearch>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <useblognameinpagetitles>True</useblognameinpagetitles>
  <pageoptionsdescription>False</pageoptionsdescription>
  <removeextensionsfromurls>True</removeextensionsfromurls>
  <smtpusername>umersamicom</smtpusername>
  <enablepasswordreset>True</enablepasswordreset>
  <disqusaddcommentstopages>False</disqusaddcommentstopages>
  <alternatefeedurl />
  <errortitle />
  <email>admin@umersami.com</email>
  <enabletrackbacksend>False</enabletrackbacksend>
  <showdescriptioninpostlistforpostsbytagorcategory>False</showdescriptioninpostlistforpostsbytagorcategory>
  <contacterrormessage />
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <allowservertodownloadremotefiles>False</allowservertodownloadremotefiles>
  <enablereferrertracking>False</enablereferrertracking>
  <disquswebsitename />
  <handlewwwsubdomain />
  <commentprovider>BlogEngine</commentprovider>
  <postsperfeed>10</postsperfeed>
  <sendmailoncomment>False</sendmailoncomment>
  <culture>Auto</culture>
  <remotemaxfilesize>524288</remotemaxfilesize>
  <redirecttoremovefileextension>False</redirecttoremovefileextension>
  <syndicationformat>Rss</syndicationformat>
  <postoptionsslug>False</postoptionsslug>
  <blogrollvisibleposts>3</blogrollvisibleposts>
  <geocodinglatitude>0</geocodinglatitude>
  <pageoptionsslug>False</pageoptionsslug>
  <numberofreferrerdays>1</numberofreferrerdays>
  <israzortheme>False</israzortheme>
  <iscommentsenabled>True</iscommentsenabled>
  <searchdefaulttext>Enter search term or APML url</searchdefaulttext>
  <smtpserverport>25</smtpserverport>
  <smtppassword>ushw2680</smtppassword>
  <iscommentnestingenabled>False</iscommentnestingenabled>
  <timestamppostlinks>False</timestamppostlinks>
  <avatar>wavatar</avatar>
  <timezoneid>UTC</timezoneid>
  <moderationtype>Auto</moderationtype>
  <enablerecaptchaoncontactform>False</enablerecaptchaoncontactform>
  <enableoptimization>False</enableoptimization>
  <name>Justice Denied</name>
  <pageoptionscustomfields>False</pageoptionscustomfields>
  <enablepingbackreceive>False</enablepingbackreceive>
  <showlivepreview>True</showlivepreview>
  <facebookappid />
  <searchcommentlabeltext>Include comments in search</searchcommentlabeltext>
  <enablerelatedposts>True</enablerelatedposts>
  <enableenclosures>True</enableenclosures>
  <authorname>JDP</authorname>
  <descriptioncharacters>300</descriptioncharacters>
  <enablessl>False</enablessl>
  <errortext />
  <contactthankmessage>&lt;h1&gt;Thank you&lt;/h1&gt;&lt;p&gt;The message was sent.&lt;/p&gt;</contactthankmessage>
  <descriptioncharactersforpostsbytagorcategory>0</descriptioncharactersforpostsbytagorcategory>
  <commentreportmistakes>False</commentreportmistakes>
  <postoptionsdescription>False</postoptionsdescription>
  <geocodinglongitude>0</geocodinglongitude>
  <selfregistrationinitialrole>Select</selfregistrationinitialrole>
  <enableselfregistration>False</enableselfregistration>
  <blogrollupdateminutes>60</blogrollupdateminutes>
  <securityvalidationkey>56c6b03765ef4dee9798c99f3c677e23c4f8886e5cd44125bcaeaf1cecef74d9bda9378f5bd2449c84452a107d943803</securityvalidationkey>
  <requiresslmetaweblogapi>False</requiresslmetaweblogapi>
  <enablerating>True</enablerating>
  <enablecommentsearch>True</enablecommentsearch>
</settings>